.suggestion {
  width: 100%;
  border-right: 1px solid #3865ab;
  border-left: 1px solid #3865ab;
  background-color: #0b0c0e;
  padding-left: 10px;
}

ul {
  list-style-type: none;
}

ul:last-child {
  border-bottom: 1px solid #3865ab;
}
